$mainFont: Verdana, Geneva, Tahoma, sans-serif;

form {
  display: inline-block;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px #fc8804;
  background-color: rgb(255, 165, 81);
  font-family: $mainFont;

  .methods {
    margin: 20px 0px;
    span {
      cursor: pointer;
      padding: 0.75rem 0.75rem;
      background: black;
      border-radius: 10px;
      margin: 0px 5px;
      color: white;
    }

    #get {
      background-color: blue;
    }

    #post {
      background-color: green;
    }

    #put {
      background-color: rgb(184, 184, 1);
    }

    #delete {
      background-color: red;
    }

    button {
      background-color: #000;
      padding: 0.75rem 0.75rem;
      width: 50px;
      border-radius: 7px;
      border: none;
      color: white;
      cursor: pointer;
      margin-left: 150px;
    }
  }

  textarea {
    width: 500px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border-radius: 7px;
    border: none;

    &::placeholder {
      color: white;
    }
  }

  label {
    display: flex;
    margin: 1rem auto;

    &.url-label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      align-items: center;

      input {
        width: 500px;
        height: 2.5rem;
        background-color: rgba(0, 0, 0, 0.493);
        color: white;
        border-radius: 7px;
        border: none;

        &::placeholder {
          color: white;
        }
      }
    }
  }
}
