$backgroundColor: #ffd992;
$mainFont: Verdana, Geneva, Tahoma, sans-serif;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.loading {
  font-size: 30px;
  background: chocolate;
  font-weight: 700;
  width: fit-content;
  margin: 20px auto;
  padding: 5px;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  footer {
    background: darken($backgroundColor, 50);
    padding: 1em 3em;
    margin: 0;
    text-align: center;
    font-family: $mainFont;
  }

  header {
    background: darken($backgroundColor, 75);
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: $mainFont;
  }
}

.requestInfo {
  background-color: black;
  color: white;
  font-family: $mainFont;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  margin: 0 auto;
  padding: 10px;
  display: inline;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
